@{
    ViewBag.Title = "Contact";
}
<div style="padding:10px;margin:20px;">
    <center>
        <h2>Contact Us with</h2>
        <h3>Ph: 09 799 62 64 66</h3>


        <address>
            <strong>Support:</strong>   <a href="mailto:johnsckhai@gmail.com">johnsckhai@gmail.com</a><br />
        </address>

    </center>

</div>
