<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align: center; height:100px; background: -webkit-linear-gradient(left, #0072ff, #00c6ff);">
    <b>Mount Fuji Online Shop</b>
    </div>
    <pre>
Hi Sir/Madam
    Verify your Email address for complete your registeration at Mount Fuji.
click <a href="@ViewBag.Confirmationlink" >here</a>
</pre>
</body>
</html>
