
@{
    ViewBag.Title = "CompleteOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container" style="text-align:center;">
        <h4>Thanks you for your Purchase</h4><br />
        <a href="@Url.Action("Index", "Home")" class="site-btn sb-dark">Continue shopping</a>
    </div>


